.nav-bar-input {
  text-align: center;
  margin: 0.5rem 0rem;
}

.nav-search-btn {
  outline: none;
  border: none;
  background-color: rgba(211, 211, 211, 0.342);
  padding: 0.5rem;
}

.nav-search-inp {
  width: 40%;
  outline: none;
  border: none;
  background-color: rgba(211, 211, 211, 0.342);
  padding: 0.5rem;
}
